@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Satisfy&display=swap');
.card-text{
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    color:slategray;
    font-size: 18px;
    margin-left: 15px;
}
.card{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVIsLkO9JU-mXSMWkAUow3ZMZyn3td6rM56g&usqp=CAU");
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjfO-1RUP45z3XcBEEPW_CzTL74yrnAOsWOA&usqp=CAU");
    font-family: 'Niconne', cursive;
    font-size: 22px;
    font-weight: bold;
}
.card:hover {
    transform: scale(1.05); 
}
.date,.card-title{
    margin:2%;
}
#card-btn,#delete{
    margin-left:15px ;
}
h1{
    margin:5%;
    padding-top: 5%;
}
form{
    
    height: 50%;
    width: 50%;
    margin: auto;
    border: 1px sienna black;
}
.nav-item:hover{
    background-color: whitesmoke;
}
#nav:hover{
    color: black;
}
#form-btn{
    font-weight: bold;
    color: #000;
    border: 1px solid black;
}
#form-btn:hover{
    border: blue;
}
.form-group{
    padding-bottom:3%;
}
