<html>
<head>
  <title>Messages</title>
</head>

<body>
    <div class="card" style="width: 18rem;">
        {% for user in users %}
        <div class="card-header">
            <h2 class="card-title">User : {{user.id}}</h2>
        </div>
        <div class="card-body">
            <ul class="card-text">
                <li>Name : {{ user.name }}</li>
                <li>Age : {{ user.age }}</li>
                <li>Message : {{ user.msg }}</li>
                <li>{{  user.date }}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>

</html>
